/* Font Family  */
body {
    font-family: 'Lato', sans-serif;
}

/* Common share Style */
.text-primary {
    color: #272727;
}

/* Primary Button */
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
}

/* Hero Style */

.header {
    background: #FCEEF1;
    width: 1920px;
    height: 850px;
    

}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px 20px 200px; 
    
}

.hero-tittle {
    color: #272727;
    font-size: 55px;
    margin-bottom: 0px;
    padding-right: 97px;
    margin-bottom: 25px;
      
}
.hero-description {
    color: rgba(39, 39, 39, 0.60);
    max-width: 500px;
    margin-bottom: 25px; 
}

/* Feature Option */
.body-text {
    text-align: center;
}
.body-tittle {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;

}
.body-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    margin-top: 10px;
}
.background-two {
    display: flex;
    background: #F4F4F4;
    justify-content: center;
    width: 1440px;
    height: 320px;
    margin: auto;
    text-align: center;
    border-radius: 8px;
}
.description {
    align-items: center;
    padding-top: 86px;
    margin-right: 85px;
}
p.description {
    color: rgba(39, 39, 39, 0.80);

}
/* Hot Deals Style */
.hot-deals {
    display: flex;
    justify-content:center;
    border-radius: 8px;
    background: #FEF6F8;
    width: 1922px;
    height: 620px;
    margin-top: 128px;
}
.deals-section {
               padding-top: 230px;
               text-align: center;
}

.deals-tittle {
    font-size: 40px;
    margin-bottom: 0px;
}
.delas-descripion {
    font-size: 18px;
    margin-top: 24px;
}
.deals-image {
    padding: 90px 30px ;
}

/* Social Media Part */
.social-container{
    text-align: center;
}
.social-tittle {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 20px;
}
.social-description {
    color:#797979;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}
.social-image {
    width: 342px;
    height: 396px;
    padding: 5px;
    margin-top: 20px;
}

  