/* Font Family  */
body {
    font-family: 'Lato', sans-serif;
}

/* Common share Style */
.text-primary {
    color: #272727;
}

/* Primary Button */
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
}

/* Hero Style */

.header {
    background: #FCEEF1;
    width: 1920px;
    height: 850px;
    margin-bottom: 150px;
    

}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px 20px 200px; 
    
}

.hero-tittle {
    color: #272727;
    font-size: 55px;
    margin-bottom: 0px;
    padding-right: 97px;
    margin-bottom: 25px;
      
}
.hero-description {
    color: rgba(39, 39, 39, 0.60);
    max-width: 500px;
    margin-bottom: 25px; 
}

/* Feature Option */
.feature {
    display: flex;
     text-align: center;
     margin-left: 240px;
}
.feature-image1 {
    width: 464px;
    height: 430px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 50px 10px 0px 10px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.feature-image2 {
    width: 464px;
    height: 430px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 50px 10px 0px 10px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.feature-image3 {
    width: 464px;
    height: 430px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 50px 10px 0px 10px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.body-text {
    text-align: center;
    margin-bottom: 50px;
}
.body-tittle {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;

}
.body-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    margin-top: 10px;
}
.background-two {
    display: flex;
    background: #F4F4F4;
    justify-content: center;
    width: 1440px;
    height: 320px;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    margin-top: 200px;
}
.description {
    align-items: center;
    padding-top: 86px;
    margin-right: 85px;
}
p.description {
    color: rgba(39, 39, 39, 0.80);

}
/* Hot Deals Style */
.Offer-text-color {
    color: #E55473;
}
.hot-deals {
    display: flex;
    justify-content:center;
    border-radius: 8px;
    background: #FEF6F8;
    width: 1922px;
    height: 620px;
    margin-top: 128px;
}
.deals-section {
               padding-top: 230px;
               text-align: center;
}

.deals-tittle {
    font-size: 40px;
    margin-bottom: 0px;
}
.delas-descripion {
    font-size: 18px;
    margin-top: 24px;
}
.deals-image {
    padding: 90px 30px ;
}

/* Social Media Part */
.social-container{
    text-align: center;
    margin-top: 128px;
}
.social-tittle {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 20px;
}
.social-description {
    color:#797979;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}
.social-image {
    width: 342px;
    height: 396px;
    padding: 5px;
    margin-top: 20px;
}
/* Subcriber Style */

.subcriber-container{
    width: 1410px;
    height: 449px;
    border-radius: 8px;
    background-image: url('../Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    margin-left: 240px;
    justify-content: center;
    text-align: center;
    margin-top: 128px;
    margin-bottom: 128px;    
}
.subcriber-text {
    padding: 110px;
    margin-top: 30px;
}
.subcriber-tittle{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
}
.subcriber-describtion {
    margin-top: 0px;
}
.subcriber-form {
    width: 500px;
    height: 30px;
    border-style: none;
}
.subcriber-button {
    height: 32px;
    color: white;
    border-radius: 8px;
    background: #E55473;
    border-style: none;
    margin-top: 10px;
}
/* Footer Style */
.footer {
    width: 1922px;
    height: 449px;
    color: white;
    background: #111010;
    text-align: center;
}
.footer-text {
    padding-top: 100px;
}
.footer-tittle {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0px;
}
.footer-description {
    margin-top: 20px;
    color: #FEFEFE;
}
.copyright {
    margin-top: 20px;
    color: #FFFFFF66;
}